@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


/*===========================================*/


/*INICIO Scroll Bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(48, 48, 48);
}

::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: white;
        overflow-x: hidden;
    }
     ::-webkit-scrollbar {
        width: 5px;
    }
}


/*FINAL Scroll Bar/


/*===========================================*/


/*INICIO Popup Cookie*/

.cookie-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #23221B;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#accept-cookie {
    font-size: 1.7vh;
    background-color: #737A51;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}


/*FINAL Popup Cookie*/


/*===========================================*/


/*INICIO Chatbot*/

.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background: #737A51;
    border-radius: 50%;
    transition: all 0.1s ease;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 350px;
    height: 520px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    margin-top: -2px;
    background: #737A51;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
}

.chatbot .chatbox {
    margin-top: -15px;
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 100px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #737A51;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    white-space: pre-wrap;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #737A51;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbox .incoming p.error {
    color: #f21c24;
    background-color: #f8d7da;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
    scroll-behavior: hidden;
}

.chat-input textarea {
    height: 20px;
    width: 100%;
    border: none;
    outline: none;
    max-height: 180px;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
    scroll-behavior: hidden;
}

.chat-input span {
    margin-right: 25px;
    margin-bottom: 22px;
    align-self: flex-end;
    height: 15px;
    line-height: 25px;
    color: #737A51;
    font-size: 2rem;
    cursor: pointer;
    visibility: visible;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .chatbot-toggler {
        position: fixed;
        right: 20px;
        bottom: 25px;
        height: 40px;
        width: 40px;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        background: #737A51;
        border-radius: 50%;
        transition: all 0.1s ease;
    }
    .chatbot {
        position: fixed;
        right: 40px;
        bottom: 100px;
        width: 230px;
        height: 420px;
        transform: scale(0.5);
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        background: #fff;
        border-radius: 15px;
        transform-origin: bottom right;
        box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
        transition: all 0.1s ease;
    }
    .chatbot header {
        margin-top: -2px;
        background: #737A51;
        padding: 10px 0;
        text-align: center;
        position: relative;
    }
    .chatbot header h2 {
        color: #fff;
        font-size: 1rem;
    }
    .chat-input textarea {
        height: 20px;
        width: 100%;
        border: none;
        outline: none;
        max-height: 180px;
        font-size: 0.85rem;
        resize: none;
        padding: 16px 15px 16px 0;
        scroll-behavior: hidden;
    }
}


/*FINAL Chatbot*/


/*===========================================*/


/*INICIO Section Home*/

#home {
    background-image: url('/imagens/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    #home {
        background-image: url('/imagens/background-mobile.png');
    }
}


/*FINAL Section Home*/


/*===========================================*/


/*INICIO Conteúdo Menu Superior*/

.content-home {
    display: flex;
    align-items: center;
}

header {
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
}


/*FINAL Conteúdo Menu Superior*/


/*===========================================*/


/*INICIO Menu Lateral*/

.box_menu .sidebar_menu {
    height: 100vh;
    width: 280px;
    background-color: #4A5040;
    position: fixed;
    overflow: hidden;
    left: -280px;
    transition: all 0.3s linear;
}

.box_menu .sidebar_titulo {
    position: absolute;
    height: 60px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(68, 68, 68, 0.692);
}

.box_menu .sidebar_titulo a {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    position: absolute;
    left: 20px;
    line-height: 60px;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
    margin-left: -5vh;
}

.sidebar_menu .menu li {
    margin: 10px;
    padding: 14px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    list-style: none;
}

.sidebar_menu .menu li:hover {
    background-color: #707961;
}

.sidebar_menu .menu i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
}

.sidebar_menu .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.box_menu .menu_icon i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu .btn_close i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
}

#check {
    display: none;
}

#check:checked~.sidebar_menu {
    left: 0;
}

@media only screen and (max-width: 768px) {
    .box_menu .menu_icon i {
        margin-left: -20px;
    }
}


/*FINAL Menu Lateral*/


/*===========================================*/


/*INICIO Navbar Superior*/

.content-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home img {
    margin-top: 3vh;
    width: 25vh;
    justify-content: center;
}

.content-home img:hover {
    cursor: pointer;
}

.content-up-nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .content-home img {
        margin-top: 3vh;
        width: 25vh;
        margin-left: 2vh;
    }
}


/*FINAL Navbar Superior*/


/*===========================================*/


/*INICIO Section Faixa Introdução*/

.img-intro img {
    margin-top: -6vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .img-intro img {
        margin-top: -6vh;
        margin-left: -38vh;
        justify-content: center;
        align-items: center;
        width: 250%;
    }
}


/*FINAL Section Faixa Introdução*/


/*===========================================*/


/*INICIO Section Introdução*/

.content-box-intro {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.image-intro img {
    width: 90vh;
    margin-right: 6vh;
}

.image-intro img:hover {
    cursor: pointer;
}

.title-intro h2 {
    color: #737A51;
    font-size: 3vh;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -4vh;
}

.title-intro h1 {
    font-size: 5vh;
    color: #23221B;
    font-weight: 600;
    line-height: 6vh;
}

.title-intro img {
    width: 56vh;
}

.media-boxs-intro {
    margin-top: 8vh;
    align-items: center;
}

.mini-box-intro {
    display: flex;
}

.mini-box-intro-img1 img {
    width: 30vh;
    margin-right: 2vh;
}

.mini-box-intro-img1 img:hover {
    cursor: pointer;
}

.mini-box-intro-text h1 {
    font-size: 2.5vh;
    margin-bottom: -0.5vh;
    font-weight: 600;
}

.mini-box-intro-text p {
    font-size: 1.9vh;
}

.space-bet-boxs {
    margin-top: 5vh;
    border-bottom: 2px solid #D0D2D4;
    margin-bottom: 5vh;
}

.mini-box-intro-img2 img {
    width: 30vh;
    margin-left: 7vh;
}

.mini-box-intro-img2 img:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .content-box-intro {
        display: block;
        justify-content: center;
        margin-top: 7vh;
    }
    .image-intro img {
        justify-content: center;
        align-items: center;
        width: 40vh;
        margin-left: 2vh;
    }
    .title-intro {
        margin-left: 3vh;
    }
    .title-intro h2 {
        color: #737A51;
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
        margin-bottom: -4vh;
    }
    .title-intro h1 {
        font-size: 4vh;
        color: #23221B;
        font-weight: 600;
        line-height: 6vh;
    }
    .title-intro img {
        width: 40vh;
    }
    .mini-box-intro {
        display: block;
    }
    .mini-box-intro-img1 img {
        justify-content: center;
        align-items: center;
        width: 30vh;
        margin-left: 7vh;
    }
    .mini-box-intro-text {
        margin-left: 3vh;
        margin-right: 1.4vh;
    }
    .mini-box-intro-text h1 {
        font-size: 2.3vh;
        margin-bottom: -0.5vh;
        font-weight: 600;
    }
    .mini-box-intro-text p {
        font-size: 1.9vh;
    }
}


/*FINAL Section Introdução*/


/*===========================================*/


/*INICIO Section Desafios*/

.content-amazonia-desafios {
    margin-top: 10vh;
    text-align: center;
    align-items: center;
    margin-bottom: 20vh;
}

.text-amazonia-desafios {
    margin-bottom: 8vh;
}

.text-amazonia-desafios h1 {
    font-size: 5vh;
    color: #23221B;
    font-weight: 600;
    margin-bottom: -0.5vh;
}

.text-amazonia-desafios h2 {
    font-size: 2.8vh;
    font-weight: 400;
}

.content-boxs-medias-amazonia-desafios {
    justify-content: center;
    display: flex;
    margin-left: 5vh;
}

.box-shape-amazonia-desafios {
    margin-right: 7vh;
    border: 2px solid transparent;
    padding: 0;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
}

.box-shape-amazonia-desafios:hover {
    cursor: pointer;
    transition: all 0.5s ease;
}

.box-shape-amazonia-desafios:hover .img-box-amazonia-desafios img {
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

.img-box-amazonia-desafios img {
    width: 101%;
}

.text-box-amazonia-desafios {
    text-align: left;
    margin-left: 1vh;
    padding: 1vh;
}

.text-box-amazonia-desafios h3 {
    font-size: 3vh;
    margin-bottom: -0.6vh;
    font-weight: 600;
}

.text-box-amazonia-desafios p {
    font-size: 1.9vh;
}

.btn-saiba-mais a {
    border-bottom: 2.5px solid rgba(73, 73, 73, 0.356);
    background-color: white;
    font-size: 1.5vh;
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.btn-saiba-mais a:hover {
    font-weight: 500;
    color: black;
    transition: all 0.5s ease;
    border-bottom: 2.5px solid #737A51;
}

@media only screen and (max-width: 768px) {
    .text-amazonia-desafios h1 {
        font-size: 4vh;
        color: #23221B;
        font-weight: 600;
        margin-bottom: -0.5vh;
        margin-left: 2vh;
        margin-right: 1vh;
    }
    .content-boxs-medias-amazonia-desafios {
        justify-content: center;
        display: block;
        margin-left: 5vh;
    }
}


/*FINAL Section Desafios*/


/*===========================================*/


/*INICIO Section Reportagem*/

#amazonia-reportagem {
    width: 100%;
    height: 100vh;
    background: #23221B;
}

.content-box-reportagem {
    margin-top: 7vh;
}

.content-up-reportagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-reportagem {
    margin-top: 7vh;
}

.content-up-reportagem iframe {
    margin-top: 7vh;
    margin-left: 8vh;
    margin-right: -3vh;
}

.text-reportagem h2 {
    color: #737A51;
    font-size: 3vh;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -4vh;
}

.text-reportagem h1 {
    color: white;
    font-size: 5vh;
    font-weight: 600;
}

.text-reportagem p {
    color: white;
    font-size: 2.3vh;
}

@media only screen and (max-width: 768px) {
    #amazonia-reportagem {
        margin-top: -10vh;
        width: 100%;
        height: 150vh;
        background: #23221B;
        padding-top: 1vh;
    }
    .content-up-reportagem {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .content-up-reportagem iframe {
        margin-top: 2vh;
        margin-left: 2vh;
        width: 40vh;
        height: 30vh;
    }
    .text-reportagem {
        margin-left: 3vh;
        margin-right: 1vh;
    }
    .text-reportagem h2 {
        color: #737A51;
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
        margin-bottom: -2vh;
    }
    .text-reportagem h1 {
        color: white;
        font-size: 4vh;
        font-weight: 600;
    }
    .text-reportagem p {
        color: white;
        font-size: 2vh;
    }
}


/*FINAL Section Reportagem*/


/*===========================================*/


/*INICIO Section Parceiros*/

.content-parceiros {
    margin-top: 10vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 10vh;
}

.title-parceiros h1 {
    font-size: 5vh;
    color: #23221B;
    font-weight: 600;
    margin-bottom: -0.5vh;
}

.title-parceiros h2 {
    font-size: 2.8vh;
    font-weight: 400;
}

.logos-parceiros {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: -10vh;
}

.logos-parceiros img {
    width: 25vh;
    margin-right: 10vh;
}

.logos-parceiros img:hover {
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .title-parceiros {
        margin-left: 2vh;
        margin-right: 1vh;
    }
    .title-parceiros h1 {
        font-size: 4vh;
        color: #23221B;
        font-weight: 600;
        margin-bottom: -0.5vh;
    }
    .title-parceiros h2 {
        font-size: 2.8vh;
        font-weight: 400;
    }
    .logos-parceiros {
        display: block;
    }
    .logos-parceiros img {
        width: 25vh;
        margin-right: 10vh;
        margin-bottom: 5vh;
    }
}


/*FINAL Section Parceiros*/


/*===========================================*/


/*INICIO Section Dashboard*/

.content-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vh;
}

.text-dashboard {
    margin-right: 15vh;
}

.text-dashboard h1 {
    font-size: 5vh;
    color: #23221B;
    font-weight: 600;
    line-height: 6vh;
}

.text-dashboard h2 {
    color: #737A51;
    font-size: 3vh;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -4vh;
}

.text-dashboard img {
    width: 80vh;
}

.text-dashboard img:hover {
    cursor: pointer;
}

.boxs-faq {
    margin-top: 10vh;
    margin-left: -6vh;
}

.faq-container {
    width: 90vh;
    margin: 20px auto;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    position: relative;
}

.question {
    font-size: 3vh;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
}

.icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10vh;
    padding-top: 1px;
    padding-left: 0.8vh;
    padding-right: 0.8vh;
    cursor: pointer;
}

.answer {
    display: none;
    margin-top: 10px;
    text-align: left;
    font-size: 2vh;
    margin-right: 2.3vh;
}

.answer a {
    color: #737A51;
}

.btn-dashboard button {
    background: #23221B;
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
    cursor: pointer;
    padding: 1.5vh;
    border-radius: 1vh;
    border: 1px solid #23221B;
}

.btn-dashboard button:hover {
    transition: .3s all ease;
    background: #737A51;
    border: 1px solid #737A51;
}

@media only screen and (max-width: 768px) {
    .content-dashboard {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-left: 5vh;
    }
    .text-dashboard {
        margin-right: 2vh;
    }
    .text-dashboard h1 {
        font-size: 4vh;
        color: #23221B;
        font-weight: 600;
        line-height: 6vh;
    }
    .text-dashboard h2 {
        color: #737A51;
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
        margin-bottom: -4vh;
    }
    .text-dashboard img {
        width: 35vh;
    }
    .boxs-faq {
        margin-top: 10vh;
        margin-left: -6vh;
    }
    .faq-container {
        width: 32vh;
        margin: 20px auto;
        padding: 15px;
        border-bottom: 1px solid #ccc;
        border-radius: 5px;
        text-align: left;
        position: relative;
    }
    .question {
        font-size: 2.2vh;
        font-weight: 600;
        cursor: pointer;
        text-align: left;
    }
    .icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        justify-content: center;
        align-items: center;
        justify-items: center;
        background-color: white;
        border: 1px solid black;
        border-radius: 10vh;
        padding-top: 1px;
        padding-left: 0.8vh;
        padding-right: 0.8vh;
        cursor: pointer;
    }
    .answer {
        display: none;
        margin-top: 10px;
        text-align: left;
        font-size: 2vh;
        margin-right: 2.3vh;
    }
    .answer a {
        color: #737A51;
    }
    .btn-dashboard {
        justify-content: center;
        align-items: center;
        margin-left: 10vh;
    }
}


/*FINAL Section Dashboard*/


/*===========================================*/


/*INICIO Section Sobre Nos*/

.box-sobre-nos {
    width: 100%;
    height: 78vh;
    margin-top: 8vh;
    background-color: #23221B;
}

.content-sobre-nos {
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-sobre-nos img {
    margin-top: 8vh;
    width: 80vh;
    margin-right: 10vh;
}

.text-sobre-nos {
    margin-top: 5vh;
}

.text-sobre-nos h2 {
    color: #737A51;
    font-size: 3vh;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -4vh;
}

.text-sobre-nos h1 {
    color: white;
    font-size: 5vh;
    font-weight: 600;
}

.text-sobre-nos p {
    color: white;
    font-size: 2vh;
}

.text-sobre-nos a {
    color: #707961;
}

@media only screen and (max-width: 768px) {
    .box-sobre-nos {
        width: 100%;
        height: 100%;
        margin-top: 8vh;
        background-color: #23221B;
        padding-bottom: 2vh;
    }
    .content-sobre-nos {
        margin-top: 10vh;
        justify-content: center;
        align-items: center;
        display: block;
    }
    .content-sobre-nos img {
        margin-top: 8vh;
        margin-left: 3vh;
        width: 40vh;
    }
    .text-sobre-nos {
        margin-top: 5vh;
        margin-left: 3vh;
        margin-right: 1vh;
    }
    .text-sobre-nos h2 {
        color: #737A51;
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
        margin-bottom: -4vh;
    }
    .text-sobre-nos h1 {
        color: white;
        font-size: 4vh;
        font-weight: 600;
    }
    .text-sobre-nos p {
        color: white;
        font-size: 2vh;
    }
    .text-sobre-nos a {
        font-size: 2vh;
        color: #707961;
    }
}


/*FINAL Section Sobre Nos*/


/*===========================================*/


/*INICIO Section Contato*/

.container {
    height: 100%;
    margin-top: 10vh;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20vh;
}

.text-section h3 {
    color: #737A51;
    font-size: 3vh;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -4vh;
}

.text-section h2 {
    color: #23221B;
    font-size: 5vh;
    font-weight: 600;
}

.text-section p {
    margin-top: -3vh;
    font-size: 2vh;
    font-weight: 400;
}

.form-section {
    width: 80%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-section input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8vh;
    font-weight: 600;
}

.form-section input[type="submit"]:hover {
    background-color: #737A51;
}

.image-section img {
    width: 125vh;
    margin-right: -15vh;
}

@media only screen and (max-width: 768px) {
    .container {
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: 3vh;
        margin-right: 1vh;
    }
    .text-section h3 {
        color: #737A51;
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
        margin-bottom: -4vh;
    }
    .text-section h2 {
        color: #23221B;
        font-size: 4vh;
        font-weight: 600;
    }
    .text-section p {
        margin-top: -3vh;
        font-size: 2vh;
        font-weight: 400;
    }
    .image-section img {
        display: none;
    }
}


/*FINAL Section Contato*/


/*===========================================*/


/*INICIO Section Footer*/

footer {
    margin-top: -10vh;
    background-color: #23221B;
    padding: 20px;
    text-align: center;
    color: #555;
}

.footer-content {
    margin-top: 5vh;
    display: flex;
    align-items: center;
}

.footer-section {
    text-align: left;
    margin-right: 10vh;
}

.footer-section p {
    font-size: 2.5vh;
    color: rgba(255, 255, 255, 0.568);
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
    font-size: 2vh;
}

.footer-section li:hover {
    cursor: pointer;
    transition: .3s;
    text-decoration: underline;
    color: #737A51;
}

.logo-img {
    width: 30vh;
    margin-right: 75vh;
    margin-left: 10vh;
}

.footer-line {
    border-color: #cccccc25;
    margin: 15px auto;
    width: 90%;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-policy {
    text-align: left;
    display: flex;
    margin-right: 5vh;
}

.footer-policy a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.568);
}

.footer-policy p {
    margin: 0;
    margin-right: 5vh;
}

.footer-policy p:hover {
    cursor: pointer;
    transition: .3s;
    text-decoration: underline;
    color: #737A51;
}

.footer-copyright {
    cursor: pointer;
    margin-left: 10vh;
}

@media only screen and (max-width: 768px) {
    .logo-img {
        width: 25vh;
        margin-left: 4vh;
    }
    .footer-content {
        margin-top: 5vh;
        display: block;
        align-items: center;
    }
    .footer-bottom {
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .footer-policy {
        text-align: left;
        display: flex;
        margin-left: 3vh;
    }
    .footer-policy a {
        font-size: 1.2vh;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.568);
    }
    .footer-copyright {
        font-size: 1.5vh;
        cursor: pointer;
        margin-left: -4vh;
    }
}


/*FINAL Section Footer*/