    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    body {
        margin: 0;
        padding: 0;
        /*overflow-x: hidden;*/
        font-family: 'Poppins', sans-serif;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    
     ::-webkit-scrollbar-track {
        background-color: rgb(48, 48, 48);
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;
        border-radius: 5px;
    }
    
    @media only screen and (max-width: 768px) {
        body {
            background-color: white;
            /*overflow-x: hidden;*/
        }
         ::-webkit-scrollbar {
            width: 5px;
        }
    }
    /*INICIO Chatbot*/
    
    .chatbot-toggler {
        position: fixed;
        right: 40px;
        bottom: 35px;
        height: 50px;
        width: 50px;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        background: #737A51;
        border-radius: 50%;
        transition: all 0.1s ease;
    }
    
    .show-chatbot .chatbot-toggler {
        transform: rotate(90deg);
    }
    
    .chatbot-toggler span {
        position: absolute;
    }
    
    .show-chatbot .chatbot-toggler span:first-child,
    .chatbot-toggler span:last-child {
        opacity: 0;
    }
    
    .show-chatbot .chatbot-toggler span:last-child {
        opacity: 1;
    }
    
    .chatbot {
        position: fixed;
        right: 40px;
        bottom: 100px;
        width: 350px;
        height: 520px;
        transform: scale(0.5);
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        background: #fff;
        border-radius: 15px;
        transform-origin: bottom right;
        box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
        transition: all 0.1s ease;
    }
    
    .show-chatbot .chatbot {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }
    
    .chatbot header {
        margin-top: -2px;
        background: #737A51;
        padding: 16px 0;
        text-align: center;
        position: relative;
    }
    
    .chatbot header h2 {
        color: #fff;
        font-size: 1.4rem;
    }
    
    .chatbot header span {
        position: absolute;
        right: 20px;
        top: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        transform: translateY(-50%);
    }
    
    .chatbot .chatbox {
        margin-top: -15px;
        height: 510px;
        overflow-y: auto;
        padding: 30px 20px 100px;
    }
    
    .chatbox .chat {
        display: flex;
    }
    
    .chatbox .incoming span {
        height: 32px;
        width: 32px;
        color: #fff;
        align-self: flex-end;
        background: #737A51;
        text-align: center;
        line-height: 32px;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }
    
    .chatbox .outgoing {
        margin: 20px 0;
        justify-content: flex-end;
    }
    
    .chatbox .chat p {
        color: #fff;
        max-width: 75%;
        white-space: pre-wrap;
        font-size: 0.95rem;
        padding: 12px 16px;
        border-radius: 10px 10px 0 10px;
        background: #737A51;
    }
    
    .chatbox .incoming p {
        color: #000;
        background: #f2f2f2;
        border-radius: 10px 10px 10px 0;
    }
    
    .chatbox .incoming p.error {
        color: #f21c24;
        background-color: #f8d7da;
    }
    
    .chatbot .chat-input {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        gap: 5px;
        background: #fff;
        padding: 5px 20px;
        border-top: 1px solid #ccc;
        scroll-behavior: hidden;
    }
    
    .chat-input textarea {
        height: 20px;
        width: 100%;
        border: none;
        outline: none;
        max-height: 180px;
        font-size: 0.95rem;
        resize: none;
        padding: 16px 15px 16px 0;
        scroll-behavior: hidden;
    }
    
    .chat-input span {
        margin-right: 25px;
        margin-bottom: 22px;
        align-self: flex-end;
        height: 15px;
        line-height: 25px;
        color: #737A51;
        font-size: 2rem;
        cursor: pointer;
        visibility: visible;
    }
    
    .chat-input textarea:valid~span {
        visibility: visible;
    }
    
    @media only screen and (max-width: 768px) {
        .chatbot-toggler {
            position: fixed;
            right: 20px;
            bottom: 25px;
            height: 40px;
            width: 40px;
            color: #fff;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            cursor: pointer;
            background: #737A51;
            border-radius: 50%;
            transition: all 0.1s ease;
        }
        .chatbot {
            position: fixed;
            right: 40px;
            bottom: 100px;
            width: 230px;
            height: 420px;
            transform: scale(0.5);
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
            background: #fff;
            border-radius: 15px;
            transform-origin: bottom right;
            box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
            transition: all 0.1s ease;
        }
        .chatbot header {
            margin-top: -2px;
            background: #737A51;
            padding: 10px 0;
            text-align: center;
            position: relative;
        }
        .chatbot header h2 {
            color: #fff;
            font-size: 1rem;
        }
        .chat-input textarea {
            height: 20px;
            width: 100%;
            border: none;
            outline: none;
            max-height: 180px;
            font-size: 0.85rem;
            resize: none;
            padding: 16px 15px 16px 0;
            scroll-behavior: hidden;
        }
    }
    /*FINAL Chatbot*/
    /*===========================================*/
    /*INICIO Section Home*/
    
    #home {
        background-color: white;
        width: 100%;
        height: 100vh;
    }
    /*FINAL Section Home*/
    /*===========================================*/
    /*INICIO Conteúdo Menu Superior*/
    
    .content-home {
        display: flex;
        align-items: center;
    }
    
    header {
        justify-content: center;
        align-items: center;
        margin-top: 1.5vh;
    }
    /*FINAL Conteúdo Menu Superior*/
    /*===========================================*/
    /*INICIO Menu Lateral*/
    
    .box_menu .sidebar_menu {
        height: 100vh;
        width: 280px;
        background-color: #4A5040;
        position: fixed;
        overflow: hidden;
        left: -280px;
        transition: all 0.3s linear;
    }
    
    .box_menu .sidebar_titulo {
        position: absolute;
        height: 60px;
        width: 100%;
        box-shadow: 0px 2px 4px rgba(68, 68, 68, 0.692);
    }
    
    .box_menu .sidebar_titulo a {
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        position: absolute;
        left: 20px;
        line-height: 60px;
    }
    
    .sidebar_menu .menu {
        position: absolute;
        top: 80px;
        width: 100%;
        margin-left: -5vh;
    }
    
    .sidebar_menu .menu li {
        margin: 10px;
        padding: 14px;
        border-radius: 10px;
        transition: .3s;
        cursor: pointer;
        list-style: none;
    }
    
    .sidebar_menu .menu li:hover {
        background-color: #707961;
    }
    
    .sidebar_menu .menu i {
        color: white;
        font-size: 20px;
        padding-right: 8px;
    }
    
    .sidebar_menu .menu a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    
    .box_menu .menu_icon i {
        color: white;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        left: 16px;
        line-height: 60px;
        cursor: pointer;
    }
    
    .sidebar_menu .btn_close i {
        font-size: 25px;
        line-height: 60px;
        position: absolute;
        left: 240px;
    }
    
    #check {
        display: none;
    }
    
    #check:checked~.sidebar_menu {
        left: 0;
    }
    /*FINAL Menu Lateral*/
    /*===========================================*/
    /*INICIO Navbar Superior*/
    
    .content-home {
        background-color: #23221B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content-home img {
        margin-top: 3vh;
        width: 25vh;
        justify-content: center;
        margin-bottom: 2vh;
    }
    
    .content-home img:hover {
        cursor: pointer;
    }
    
    .content-up-nav {
        display: flex;
        align-items: center;
    }
    
    @media only screen and (max-width: 768px) {
        .content-home img {
            margin-left: 2vh;
        }
    }
    /*FINAL Navbar Superior*/
    /*===========================================*/
    /*INICIO Section Máteria*/
    
    .box-text-materia {
        justify-content: center;
        align-items: center;
    }
    
    .title-materia-page {
        text-align: center;
        margin-top: 4vh;
    }
    
    .title-materia-page h1 {
        font-size: 3.5vh;
        font-weight: 700;
    }
    
    .title-materia-page h2 {
        font-size: 2.2vh;
        font-weight: 500;
        margin-top: -2vh;
        margin-bottom: 5vh;
    }
    /*FINAL Section Máteria*/
    /*===========================================*/
    /*INICIO Máteria Page 1*/
    
    .content-one-materia-page {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 21vh;
    }
    
    .content-one-image-materia-page img {
        width: 70vh;
        margin-right: 10vh;
    }
    
    .content-one-image-materia-page img:hover {
        cursor: pointer;
        filter: grayscale(100%);
        transition: filter 0.5s ease-in-out;
    }
    
    .content-one-text-materia-page h3 {
        color: #737A51;
        font-size: 2vh;
        font-weight: 400;
        font-style: italic;
        margin-bottom: -2vh;
    }
    
    .content-one-text-materia-page h1 {
        font-size: 3.5vh;
        font-weight: 700;
        line-height: 5vh;
    }
    
    .content-one-text-materia-page p {
        font-size: 1.8vh;
        margin-right: 20vh;
    }
    
    @media only screen and (max-width: 768px) {
        .content-one-materia-page {
            display: block;
            align-items: center;
            justify-content: center;
            margin-left: 3vh;
        }
        .content-one-image-materia-page img {
            justify-content: center;
            align-items: center;
            width: 40vh;
        }
        .content-one-text-materia-page p {
            font-size: 2vh;
            margin-right: 1.2vh;
        }
    }
    /*FINAL Máteria Page 1*/
    /*===========================================*/
    /*INICIO Máteria Page 2*/
    
    .content-two-materia-page {
        margin-top: 5vh;
        margin-left: 21vh;
        justify-content: center;
        align-items: center;
    }
    
    .content-two-materia-page p {
        font-size: 1.8vh;
        margin-right: 20vh;
    }
    
    @media only screen and (max-width: 768px) {
        .content-two-materia-page {
            margin-top: 1.2vh;
            margin-left: 3vh;
            justify-content: center;
            align-items: center;
        }
        .content-two-materia-page p {
            font-size: 2vh;
            margin-right: 1.2vh;
        }
    }
    /*FINAL Máteria Page 2*/
    /*===========================================*/
    /*INICIO Máteria Page 3*/
    
    .content-three-materia-page {
        display: flex;
        align-items: center;
        margin-left: 21vh;
        margin-top: 5vh;
    }
    
    .content-three-text-materia-page p {
        font-size: 1.8vh;
        margin-right: 8vh;
    }
    
    .content-three-image-materia-page img {
        width: 85vh;
        margin-right: 20vh;
    }
    
    .content-three-image-materia-page img:hover {
        cursor: pointer;
        filter: grayscale(100%);
        transition: filter 0.5s ease-in-out;
    }
    
    @media only screen and (max-width: 768px) {
        .content-three-materia-page {
            display: block;
            align-items: center;
            margin-top: 1.2vh;
            margin-left: 3vh;
        }
        .content-three-text-materia-page p {
            font-size: 2vh;
            margin-right: 1.2vh;
        }
        .content-three-image-materia-page img {
            justify-content: center;
            align-items: center;
            width: 40vh;
        }
    }
    /*FINAL Máteria Page 3*/
    /*===========================================*/
    /*INICIO Fontes Bibliográficas */
    
    .content-bio-fonte {
        align-items: center;
        margin-left: 21vh;
        margin-top: 15vh;
        line-height: 1.8vh;
    }
    
    .content-bio-fonte h1 {
        font-size: 2vh;
    }
    
    .content-bio-fonte h2 {
        font-size: 1.5vh;
        font-weight: 500;
    }
    
    .content-bio-fonte h3 {
        font-size: 1.2vh;
        font-weight: 500;
    }
    
    @media only screen and (max-width: 768px) {
        .content-bio-fonte {
            align-items: center;
            margin-left: 3vh;
            margin-top: 5vh;
            line-height: 1.8vh;
        }
    }
    /*FINAL Fontes Bibliográficas */
    /*===========================================*/
    /*INICIO Conteúdo Datasets*/
    
    .boxs-datasets-download {
        align-items: center;
        display: block;
        margin-top: 2vh;
        margin-left: 12vh;
    }
    
    .boxs-datasets-download img {
        width: 70vh;
    }
    
    .boxs-datasets-download img:hover {
        cursor: pointer;
    }
    
    .btn-download-1 {
        margin-top: -7vh;
        margin-left: 56vh;
    }
    
    .download-button {
        position: relative;
        border-width: 0;
        color: white;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        z-index: 1;
    }
    
    .download-button .docs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        min-height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        z-index: 1;
        background-color: #3b3b3b;
        border: solid 1px #e8e8e82d;
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    .download-button:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    .download {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;
        z-index: -1;
        border-radius: 4px;
        transform: translateY(0%);
        background-color: rgb(0, 182, 0);
        border: solid 1px #01e0572d;
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    .download-button:hover .download {
        transform: translateY(100%)
    }
    
    .download svg polyline,
    .download svg line {
        animation: docs 1s infinite;
    }
    
    @keyframes docs {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(-15%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    
    @media only screen and (max-width: 768px) {
        .boxs-datasets-download {
            align-items: center;
            display: block;
            margin-left: -1vh;
        }
        .boxs-datasets-download img {
            width: 48vh;
            margin-top: 5vh;
        }
        .btn-download-1 {
            margin-top: 0.1vh;
            margin-left: 3vh;
        }
        .download-button {
            position: relative;
            border-width: 0;
            color: white;
            font-size: 1.5vh;
            font-weight: 600;
            border-radius: 3px;
            z-index: 1;
        }
    }
    /*FINAL Conteúdo Datasets*/
    /*===========================================*/
    /*INICIO Conteúdo Integrantes*/
    
    .title-integrantes {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .title-integrantes h1 {
        font-size: 3.5vh;
        font-weight: 700;
        line-height: 5vh;
    }
    
    .title-integrantes p {
        font-size: 2.2vh;
        font-weight: 500;
        margin-top: -2vh;
        margin-bottom: 5vh;
    }
    
    .grid-container {
        justify-content: center;
        align-items: center;
        margin-left: 15vh;
        margin-right: 15vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 4vh;
    }
    
    .developer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid #ccc;
        padding: 20px;
        width: 30vh;
    }
    
    .developer img {
        width: 20vh;
        height: auto;
        border-radius: 50%;
    }
    
    .developer h3 {
        margin: 10px 0;
    }
    
    .developer button {
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .developer button:hover {
        background-color: #0056b3;
    }
    
    .card {
        width: fit-content;
        height: fit-content;
        background-color: rgb(238, 238, 238);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 25px;
        gap: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    }
    
    .socialContainer {
        width: 4vh;
        height: 4vh;
        background-color: rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition-duration: .3s;
    }
    
    .containerOne:hover {
        background-color: #d62976;
        transition-duration: .3s;
    }
    
    .containerTwo:hover {
        background-color: #00acee;
        transition-duration: .3s;
    }
    
    .containerThree:hover {
        background-color: #0072b1;
        transition-duration: .3s;
    }
    
    .containerFour:hover {
        background-color: #128C7E;
        transition-duration: .3s;
    }
    
    .socialContainer:active {
        transform: scale(0.9);
        transition-duration: .3s;
    }
    
    .socialSvg {
        width: 17px;
    }
    
    .socialSvg path {
        fill: rgb(255, 255, 255);
    }
    
    .socialContainer:hover .socialSvg {
        animation: slide-in-top 0.3s both;
    }
    
    @keyframes slide-in-top {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .grid-container {
            justify-content: center;
            align-items: center;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 2vh;
        }
    }
    /*FINAL Conteúdo Integrantes*/
    /*===========================================*/
    /*INICIO Section Footer*/
    
    footer {
        margin-top: 5vh;
        background-color: #23221B;
        padding: 20px;
        text-align: center;
        color: #555;
    }
    
    .footer-content {
        margin-top: 5vh;
        display: flex;
        align-items: center;
    }
    
    .footer-section {
        text-align: left;
        margin-right: 10vh;
    }
    
    .footer-section p {
        font-size: 2.5vh;
        color: rgba(255, 255, 255, 0.568);
    }
    
    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-section li {
        margin-bottom: 5px;
        font-size: 2vh;
    }
    
    .footer-section li:hover {
        cursor: pointer;
        transition: .3s;
        text-decoration: underline;
        color: #737A51;
    }
    
    .logo-img {
        width: 30vh;
        margin-right: 75vh;
        margin-left: 10vh;
    }
    
    .footer-line {
        border-color: #cccccc25;
        margin: 15px auto;
        width: 90%;
    }
    
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-policy {
        text-align: left;
        display: flex;
        margin-right: 5vh;
    }
    
    .footer-policy p {
        margin: 0;
        margin-right: 5vh;
    }
    
    .footer-policy p:hover {
        cursor: pointer;
        transition: .3s;
        text-decoration: underline;
        color: #737A51;
    }
    
    .footer-copyright {
        cursor: pointer;
        margin-left: 10vh;
    }
    
    @media only screen and (max-width: 768px) {
        .logo-img {
            width: 25vh;
            margin-left: 4vh;
        }
        .footer-content {
            margin-top: 5vh;
            display: block;
            align-items: center;
        }
        .footer-bottom {
            display: block;
            justify-content: space-between;
            align-items: center;
        }
        .footer-policy {
            text-align: left;
            display: flex;
            margin-left: 3vh;
        }
        .footer-policy a {
            font-size: 1vh;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.568);
        }
        .footer-copyright {
            font-size: 1vh;
            cursor: pointer;
            margin-left: -4vh;
        }
    }
    /*FINAL Section Footer*/